# Ignorar carpetas y archivos generados por Python
__pycache__/
*.pyc

# Ignorar logs y datos generados en cualquier subcarpeta de DTA
DTA/**/logs/
DTA/**/*.log
*.log

# Ignorar archivos temporales o backups
*~
*.bak

# Ignorar scripts de ejecución local (si no quieres subirlos)
DTA/**/format_usb.sh

# Ignorar archivos de variables de entorno
.env
